.home_section__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.home_section__info {
    max-width: 550px;
    max-height: 480px;
}
.home_section__title {
    font-size: 101px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.home_section__text {
    font-size: 18px;
    line-height: 1.5;
    color: #C7C7C7;
    margin-bottom: 40px;
}

.home_section__social_media {
    max-width: 330px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: auto;
}

.home_section__social_media a {
    margin-right: 20px; 
}

.home_section__social_media a:last-child{
    margin-right: 0;
}



.home_section__contact_link {
    width: 187px;
    height: 54px;
    position: relative;
    padding: 15px 15px 15px 30px;
    text-decoration: none;
    color: #000000; 
    background-color: #D3E97A; 
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.home_section__contact_link span {
    position: relative;
    z-index: 1;
}

.home_section__contact_link span::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px; /* Размер точки */
    height: 12px;
    background-color: #000000; /* Цвет точки */
    border-radius: 50%;
}

.home_section__contact_link:hover {
    background-color: #333333; /* Цвет фона при наведении */
}


.home_section__image {
    flex: 1;
    max-width: 600px;
    height: 700px;
    overflow: hidden;
    background-color: aliceblue;
}

.home_section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
