.projects_section__inner {
    padding: 80px 0;
}
.projects_section__title {
    width: 70%;
    max-width: 600px;
    font-size: 78px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 10px; 
    white-space: nowrap; 
}
.projects_section__text {
    font-size: 18px;
    line-height: 1.5;
    color: #C7C7C7;
    margin:40px 0 50px 0;
    text-align: center;
}

.project-card__title {
    font-size: 32px;
    line-height: 1.5;
    margin: 20px 0;
    color: #C7C7C7;
    text-align: left;
    padding-left: 40px;
}

.project-description {
    font-size: 18px;
    line-height: 1.5;
    color: #C7C7C7;
    margin:20px 0;
    text-align: left;
    padding-left: 40px;
}

.project-card__link{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: #C7C7C7;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: end;
    padding-right: 40px;
}




.projects-carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.project-card {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

@media (max-width: 890px) {
    .projects_section__title {
        font-size: 58px;
    }
    .project-card__title {
        font-size: 28px;
        line-height: 1.5;
        margin: 10px 0;
        color: #C7C7C7;
        text-align: left;
        padding-left: 20px;
    }

    .project-description {
        font-size: 16px;
        line-height: 1;
        color: #C7C7C7;
        margin:10px 0;
        text-align: left;
        padding-left: 20px;
    }
}